<!DOCTYPE html>

<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <br>
            <img class="avatar" src="img/av1.png">
            <br>
            <h2>{{name}}</h2>
        </div>
        
        {{>footer}}
    </body>
</html>