<div>
    <p>We have encountered a problem and could not locate the resource you requested.</p>
    <p>Error message: {{message}}</p>
    <p>
        Please go back to the main page by clicking <a href="http://localhost:3000/">here</a>.
    </p>
</div>